# Ignore the .env file
.env

# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore other IDE/project files
.vscode/
.idea/

# Ignore system files
.DS_Store
